<h4 class="ui center aligned icon header">
  <i class="circular red comments icon"></i>
  Tell us what's on your mind!
</h4>

<div class="ui two column grid">
  <div class="twelve wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <div class="ui small feed">
          <%= render @messages %>
        </div>
      </div>
      <div class="extra content">
        <%= form_with(scope: @message, url: message_path, local: true, html: { class: "ui reply form" }) do |f| %>
          <div class="ui fluid icon input focus">
            <%= f.text_field :body, placeholder: "Enter your message ..." %>
            <%= f.button '<i class="bordered inverted red icon paper plane"></i>'.html_safe %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="four wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <div class="ui fluid inverted vertical menu">
          <a class="active item">
            Home
          </a>
          <a class="item">
            Messages
          </a>
          <a class="item">
            Friends
          </a>
        </div>
      </div>
    </div>
  </div>
</div>